<div class="cover-show">
  <div class="container">
    <div class="row">
      <h1 class="font-weight-normal mt-5 mb-5">views</h1>
    </div>
    <div class="d-block">
      <p class="caption">name</p>
      <p class="caption"><%= @post.location %></p>
      <% if @post.image.attached? %>
        <%= image_tag @post.image %><br>
      <% end %>
      <p class="caption">comment</p>
      <p id="text"><%= @post.text %></p>
      <%= link_to 'edit', edit_post_path(@post.id), class: "btn btn-info mr-3" %>
      <%= link_to 'delete', post_path(@post.id),  data: { turbo_method: :delete, turbo_confirm:  "本当に消しますか？"}, class: "btn btn-danger" %><br>
      <%= link_to '⌂', posts_path, class: "btn btn-dark mt-3" %>
    </div>
  </div>
</div>